

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  border-bottom: 1px solid gray;
  max-height: 8vh;
  min-height: 30px;
}

.nav * {
  display: inline;
  margin: 0 10px;
}

.user-nav-bar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}