

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px 5px 15px;
  max-height: 8vh;
  min-height: 45px;
  font-size: 1.2em;
  background-color: var(--red);
  color: white;
}

.nav * {
  display: inline;
  margin: 0 10px;
  white-space: nowrap;

}

.nav button {
  font-size: .7em;
  padding: 4px 6px;
  color: var(--red);
  border-radius: 8px;
  border: none;
}

.user-nav-bar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#logo {
  font-size: 1.8em;
}