.signup-form-container {
  margin: 10px 10px;
}

#signup-form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#signup-form input {
  margin: 10px;
  max-width: 30vw;
}