
.show-header {
  padding: 5vh 5vw;
  margin-bottom: 10vh;
  background: linear-gradient(white, lightgray);
}

.show-header-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 18px;
}

.show-header-text h1 {
  font-size: 1.75em;
  margin-bottom: 4vh;
  color: var(--red);
  text-align: center;
}

.show-header-text p {
  font-size: 1.5em;
  line-height: 1.2;
  font-style: italic;
  padding: 0 2vw;
  text-align: justify;
}

.show-poster {
  max-width: 35%;
  max-height: 50%;
}