.profile-form-container {
  margin: 10px 10px;
}

#profile-form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#profile-form input, textarea {
  margin: 10px;
  max-width: 45vw;
}

