

.home h1 {
  font-size: 3em;
  margin-left: 10vw;
  margin-top: 5vh;
  background: transparent;
}

#home-circle-1 {
  fill: var(--red);
  opacity: .75;
  
}
.rest-position-circle-1 {
  transform: scale(5) translate(-75vw, -50vh);
  transition: 1500ms ease-in-out;
}

#home-circle-2 {
  fill: var(--blue);
  opacity: .75;
}

#home-circle-3 {
  fill: var(--yellow);
  opacity: .75;
}
