.home {
  padding: 5vh 5vw;
}

.home h1 {
  font-size: 3em;
  margin-left: 7vw;
  margin-top: 5vh;
}

#home-circle-1 {
  fill: var(--blue);
  opacity: .75;
}

#home-circle-2 {
  fill: var(--red);
  opacity: .75;
}

#home-circle-3 {
  fill: var(--yellow);
  opacity: .75;
}